:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}

body {
  width: 1226px;
  max-width: 100%;
  margin: 0 auto;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

#app {
  text-align: center;
  border-inline: 1px solid var(--border);
/*  min-height: 100svh; */
  min-height: 80svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#navigation {
  padding: 10px;
  text-align: left;
  border-inline: 1px solid var(--border);
  /* this css does not draw top and bottom borders
     for some reason. Add them manually */
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  box-sizing: border-box;
}
#navigation a {
  text-decoration: none;
  color: inherit;
}

#navigation a:visited {
  color: inherit;
}

#navigation a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#notifications {
  padding: 5px;
  text-align: left;
  border-inline: 1px solid var(--border);
  /* this css does not draw top and bottom borders
     for some reason. Add them manually */
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/*
 * SMB table
 */
#smbtable {
    text-align: left;
    /*border: 1px solid white;*/
    border-collapse: collapse;
}
.smbtable {
}

/* alternating colors with details enabled 
.smbtable tr:nth-child(4n+3) {
    background-color: var(--border);
}
*/

.smbtable tr:nth-child(even) {
    background-color: var(--border);
}
#smbtable td {
    padding: 10px;
}
#smbtable tr:hover {
    background-color: var(--accent);
    color: black;
}
.smbsummaryheader {
    background-color: black;
    padding: 13px 10px;
}
/* 3, 7, 11, 15, 19, ...*/

/*
 * SMB Details
 */
.smbdetails {
    border-collapse: collapse;
}
.smbdetails th {
    color: black;
    background-color: #888;
    padding: 10px 7px;
}
.smbdetailsrow {
    display: none;
}
.smbdetailscol {
    background-color: #aaa;
    color: #444;
}
/* 
 * we need to set both even and uneven, otherwise
 * this will inherit the nth-child from class .smbtable
 */
.smbdetails tr:nth-child(even) {
    background-color: #999;
}
.smbdetails tr:nth-child(odd) {
    background-color: #aaa;
}
.smbdetails tr:hover {
    background-color: #aaa;
}
